.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

.u-font-lobster {
  font-family: 'Lobster';
}

.salimentos { 
  text-align: left;
  font-size:  3vw;
}

.subalimentos {
    text-align: right;
    font-size:  2.5vw;
}

.variedades {
  text-align: right;
  font-size:  2vw;
  font-style: italic;
}

.blue {
  color: #2D75B5;
}

.orange {
  color: #C55811;
}

.red {
  color: darkred;
}

.green {
  color: #41a408; 
}

h1 { 
  font-style: normal;
  font-weight: normal;
  font-size: 4vw; }

h2 { 
  font-style: italic;
  font-weight: bold;
  font-size: 3vw; }
