.u-body {
    background-color: #fdecd2;
    background-image: linear-gradient(#fdecd2), rgba(255, 255, 255, 0.5),
                  url("bg.png");
    align-content: center;
    text-align: center; 
    background-repeat: repeat;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}


